<!DOCTYPE html>
<html>
    
<div>
    <% if user_signed_in? %>
        <%= link_to "회원정보", edit_user_registration_path %>
        <%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
    <% end %>
</div>

<hr/>
<h2 style="font-weight: bold">로그인 정보</h2>
<% if user_signed_in? %>
    <div>
        ID : <%= current_user.email %><br/>
        사용자 No. : <%= current_user.id %>
    </div>
<% else %>
    <div style="font-size:15px;">
        <%= link_to "로그인", user_session_path %>
        <%= link_to "회원가입", "/users/sign_up" %> 
    </div>
<% end %>
    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<title>Freebie: 4 Bootstrap Gallery Templates</title>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="thumbnail-gallery.css">

</head>

<body>
<div class="container gallery-container">
    <h1 style="font-family: 'Indie Flower', cursive; font-size:80px;">Image Gallery</h1>
    
    <p style="font-size:30px" class="page-description text-center">Teammates : Minju Hwang, Hyunsoo Kim</p>

    <div class="Container">
        <form style="margin-top:40px" action="/replies/write" method="PUT">
            <div class="form-group">
                <label for="exampleInputPassword1">댓글 수정</label><br>
            </div>
            
            <input type="hidden" name="id_of_post" value="<%= p.id %>">
            <input type="text" name="content" class="form-control" id="content" placeholder="댓글 수정">
            <button style="margin-top:10px" type="submit" class="btn btn-default">OK</button>
        </form>
    </div>
</div>

<%= link_to 'Back', posts_path %>