<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Freebie: 4 Bootstrap Gallery Templates</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="thumbnail-gallery.css">

</head>
<body>
    
<div class="container gallery-container">
    <h1>Image Gallery</h1>
    
    <p class="page-description text-center">Teammates : Minju Hwang, Hyunsoo Kim</p>

    <div class="Container">
        <form style="margin-top:40px" action="/posts/write" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputPassword1">Title</label>
                <input type="text" name="title" class="form-control" id="exampleInputPassword1"
                placeholder="Title">
            </div>
            <textarea class="form-control" rows="5" id="content" name="content"></textarea>
            <input type="file" name="image" accept="image/*">
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    
    <div class="tz-gallery">
        <% @posts.each do |p| %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <span style="font-weight:bold;">
                        <%= p.title %>
                    </span><br>
                    
                    <% unless p.image.nil? %>
                        <a class="img" href="<%= p.image %>">
                            <img src="<%= p.image %>" width="100%", height="300px">
                        </a>
                    <% end %>
                    <br><%= p.content %><br>
                    <%= link_to 'Destroy', post_path(p), method: :delete, data: { confirm: 'Are you sure?' } %>
                    
                    <div class="form-group">
                        <label for="exampleInputPassword1">Reply list</label><br>
                    </div>
            
                    <% p.replies.each do |r| %>
                        <p><%= r.content %></p>
                    <% end %>
            
                    <form style="margin-top:40px" action="/posts/reply_write" method="POST">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Write the reply</label><br>
                        </div>
                        
                        <input type="hidden" name="id_of_post" value="<%= p.id %>">
                        <input type="text" name="content" class="form-control" id="content" placeholder="Content">
                        <button type="submit" class="btn btn-default">OK</button>
                    </form>
                </div>
            </div>
        <% end %>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>