<!DOCTYPE html>
<html>
    
<div>
    <% if user_signed_in? %>
        <%= link_to "회원정보", edit_user_registration_path %>
        <%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
    <% end %>
</div>

<hr/>
<h2 style="font-weight: bold">로그인 정보</h2>
<% if user_signed_in? %>
    <div>
        ID : <%= current_user.email %><br/>
        사용자 No. : <%= current_user.id %>
    </div>
<% else %>
    <div style="font-size:15px;">
        <%= link_to "로그인", user_session_path %>
        <%= link_to "회원가입", "/users/sign_up" %> 
    </div>
<% end %>
    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<title>Freebie: 4 Bootstrap Gallery Templates</title>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="thumbnail-gallery.css">

</head>

<body>
<div class="container gallery-container">
    <h1 style="font-family: 'Indie Flower', cursive; font-size:80px;">Image Gallery</h1>
    
    <p style="font-size:30px" class="page-description text-center">Teammates : Minju Hwang, Hyunsoo Kim</p>
    <!--
    <div class="Container">
        <form style="margin-top:40px" action="/posts/write" method="POST" enctype="multipart/form-data">
            <div class="form-group" style="font-size:25px;">
                <label for="exampleInputPassword1">Title</label>
                <input type="text" style="font-size:20px" name="title" class="form-control" id="exampleInputPassword1"
                placeholder="제목 입력">
            </div>
            <textarea style="font-size:20px" class="form-control" rows="5" id="content" name="content" placeholder="이미지 설명 입력"></textarea>
            <input style="margin-top:10px;" type="file" name="image" accept="image/*">
            <button style="margin-top:10px" type="submit" class="btn btn-default">확인</button>
        </form>
    </div>
    -->
    <div style="font-size:30px;">
        <%= link_to "Image Upload", new_post_path %>
    </div>
    
    <div class="tz-gallery" style="font-size:20px;">
        <% @posts.each do |p| %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <span style="margin-left:5px; font-size:40px; font-weight:bold;">
                        <%= p.title %>
                    </span><br>
                    
                    <% unless p.image.nil? %>
                        <a class="img" href="<%= p.image %>" data-caption:"<%= p.content %>">
                            <img title="<%=p.title %>" src="<%= p.image %>" style="width:100%; height:300px;">
                        </a>
                    <% end %>
                    <br style="font-size:30px;"><%= p.content %><br>
                    <%= link_to '삭제', post_path(p), method: :delete, data: { confirm: 'Are you sure?' } %>
                    
                    <hr align="center" noshade width=100%>
                    
                    <div class="form-group">
                        <label for="exampleInputPassword1">댓글 리스트</label><br>
                    </div>
            
                    <% p.replies.each do |r| %>
                        <p><%= r.content %></p>
                    <% end %>
            
                    <form style="margin-top:40px" action="/posts/reply_write" method="POST">
                        <div class="form-group">
                            <label for="exampleInputPassword1">댓글</label><br>
                        </div>
                        
                        <input type="hidden" name="id_of_post" value="<%= p.id %>">
                        <input type="text" name="content" class="form-control" id="content" placeholder="댓글 입력">
                        <button style="margin-top:10px" type="submit" class="btn btn-default">OK</button>
                    </form>
                </div>
            </div>
        <% end %>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery', {
        captions: true,
        titleTag: true,
        buttons: 'auto',
        async: false,
        preload: 2,
        animation: 'slideIn'
    });
</script>
</body>
</html>